.result-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    border: solid grey 1px;
    min-width: 800px;
    gap: 10px;
    padding: 5px;
    margin: 0;
}

.info-container {
    color: black;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: flex-start;
    text-align: left;
    border-bottom: solid grey 3px;
}

h2 {
    margin: 0px;
    padding: 10px;
}

img {
    float: left;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-right: solid grey 1px;
}

.repo-container {
    color: black;
    text-align: left;

}

ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
    
}

li {
    padding: 5px;
    border-bottom: solid grey 1px;
}

a:hover, a:active {
    background-color: #636363;
  }

  .result-wrapper > btn {
    width: 100px;
  }