form {
    border: solid grey 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
    padding: 10px;
    gap: 5px;
}

.input {
    height: 30px;
}
.btn {
    background-color: #22802e;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}